@{
    ViewData["Title"] = "Home Page";
}



<div class="col-md-6 col-xs-4 border-primary mb-3">

    <h1 class="text-xl-center">
        Benildo Mabunda
    </h1>
    <div class="card mb-3" style="max-width:540px;">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            FullStack Developer & Data Analyst
                            <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                        </h5>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <img src="https://lh3.googleusercontent.com/ogw/AOh-ky0T6YkxOrzJqNtEaYkij2aYs349w1SrboIHZZp_3Q=s32-c-mo" sizes="500px; 500px" alt="Benildo Mabunda" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <label><strong>Domínio de Tecnologias</strong></label>
                    <ul>
                        <li>C Sharp</li>
                        <li>Asp.Net</li>
                        <li>Javascript</li>
                        <li>SQL Server</li>
                        <li>MySQL</li>
                        <li>API's</li>
                        <li>Excel</li>
                        <li>PowerBI</li>
                        <li>R Language</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-footer">
                    <p class="card-text">
                        <a class="btn btn-outline-primary float-right"><i class="bi"></i>GitHub</a>
                        <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i>LinkedIn</a>
                        <a class="btn btn-success text-right text-white" href="../Counties/Index"><i class="bi bi-code"></i>Ver Desafio da 2iBi</a>
                        
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
